<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Chatbot_Assignment_1.Properties.Settings.ChatBot_DatabaseConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ChatBot_Database.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Add system.servicemodel section for WCF configuration-->
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="CustomTcpBinding"
						 maxReceivedMessageSize="15728640"
						 maxBufferSize="15728640"
						 maxBufferPoolSize="15728640"/>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>