<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessDLL.Properties.Settings.ChatBot_DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;d:\data\Files\Curtin\Curtin Year 4 Sem 2\Distributed Computing\DC_Assignment_1\Chatbot_Assignment_1\Chatbot_Assignment_1\ChatBot_Database.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusinessDLL.Properties.Settings.ChatBot_DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;d:\data\Files\Curtin\Curtin Year 4 Sem 2\Distributed Computing\DC_Assignment_1\Chatbot_Assignment_1\Chatbot_Assignment_1\ChatBot_Database.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusinessDLL.Properties.Settings.ChatBot_DatabaseConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ChatBot_Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>